#content
{
	width : 800px;
	margin : 0 auto;
	background: #cad8d2;
}


#nav ul {
	margin : 0;
	padding : 0;
	overflow : hidden;
}

#nav li
{
	list-style : none;
	float : left;
	width : 25%;
}

#nav a
{
	text-align : center;
	color : white;
	text-decoration : none;
	background : #697fa3;
	display : block;
	padding : 20px;
}

#nav a:hover
{
	background : #9abcdd;
}






