@import url('https://fonts.googleapis.com/css?family=Dancing+Script:700|Roboto');
body
{
	background : #b1d6ed;
}
#content
{
	width : 60%;
	height : 100%;
	margin : 0 auto;
	background : white;
	text-align : center;
	font: 18px 'Dancing Script', cursive;
}
#logo
{
	text-align: center;
}
#logo img
{
	
	display : block;
	margin: auto;
	padding: 0;
	
}

#logo p
{
	margin : 5px;
	font: 40px 'Dancing Script', cursive;
}


#nav ul {
	margin : 0;
	padding : 0;
	overflow : hidden;
}

#nav li
{
	list-style : none;
	float : left;
	width : 25%;
}

#nav a
{
	text-align : center;
	color : white;
	text-decoration : none;
	background : #697fa3;
	display : block;
	padding : 20px;
	font-family: 'Roboto', sans-serif;
}

#nav .active
{
	background : #97c2c1;
}

#nav a:hover
{
	background : #97c2c1;
}

#entrance img
{
	height: 250px;
	width: 250px;
	border-radius: 10px;
}

h1
{
	font: 28px 'Dancing Script', cursive;
}


card1 img
{
	height : 100px;
	width : 100px;
	border-radius: 20px;
}






